---
import Banner from "~components/Banner.astro";

import personal from "~data/personal.js";

const { email } = personal;

const linkProps = {
  href: `mailto:${email}`,
  class: "link",
};
---

<Banner>
  Built using the Tumblr API and GSAP. If you have any questions, email
  <a {...linkProps}>{email}</a>
</Banner>
