---
import "~styles/global.scss";
import Head from "~components/Head.astro";
import { Banner } from "paully";
import personal from "~data/personal.js";

const { email } = personal;

const linkProps = {
  href: `mailto:${email}`,
  class: "link",
};
---

<script>
  import "focus-visible/dist/focus-visible.min.js";
</script>

<script src="~scripts/layouts/main.js"></script>

<html lang="en">
  <Head {...Astro.props} />
  <body data-state="visible">
    <Banner>
      <span>
        Built using the Tumblr API and GSAP. If you have any questions, email
      </span>
      <a {...linkProps}>{email}</a>
    </Banner>
    <slot />
    <Banner>
      <span>Say hello :)</span>
      <a {...linkProps}>{email}</a>
    </Banner>
  </body>
</html>
